:root{
    padding: 0;
    margin: 0;
}

button.btn>a{
    color: red;
    text-decoration: none;
}


.card-container{
    padding: 2px 16px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    background-color: #FEEFAC;
    margin-bottom: 10px;
}

.card-content{
    display: flex;
    background-color: #AACCBA;
    justify-content: space-around;
    transition: 0.3s;
    cursor: pointer;
}

.card-content > img{
    align-self: center;
    /* border-radius: 5px 5px 0 0; */
}